
header
{
  display:block;
  width:100%;
}

a
{
  color:fuchsia;
  text-decoration:none;
}

/*Below 3-line block from w3 schools*/
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

html, body
{
  margin: 0;
  text-align: center;
  width: auto;
  height: 100%;
  background-color: whitesmoke;

}

border
{
  border: 3px solid #888;
  border-radius: 4px;
}

titlesmall
{
  font-size:25pt;
  color: #333;
  font-family: 'Kaushan Script', cursive;
}

title
{
  font-size:4.4vw;
  color:fuchsia;opacity: 0.8;
  font-family: 'Kaushan Script', cursive;
  display: flex;
  justify-content: left
}

nav
{
  padding-top: 5%;
  padding-bottom: 0;
  padding-left:2%;
  padding-right:90%;
}

div, span
{
  height: inherit;
}

nav ul
{
  display: table;
  list-style:none;
  margin-bottom: 0;
  margin-top: 0;
  padding:0;
}

nav ul li
{
  font-size:2vw;
  font-family: 'Kaushan Script', cursive;
  border: 0.5vw solid #CCC;opacity: 0.6;
  padding: .8vw;
  border-radius: 5px;
  margin-bottom: 3.4vw;
  transition: 0.2s ease-in-out;
  background-color: #CCC;opacity: 0.6;
}

nav ul li.selected
{
  border: 0.5vw solid #800080;opacity:0.2;
  background-color:#800080;opacity:0.2;
}

nav ul li:hover
{
  background-color:#aaa;opacity: 0.6;
  border: 0.5vw solid #aaa;opacity: 0.6;
}

main
{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  font-size:1.7vw;
  color: #333;
  font-family: 'Playfair Display', Arial, serif;
  display: block;
  justify-content: center;
  align-content: center;
}

.background #home {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background #home .inner {
    display: block;
    height: 0;
    padding-top: 1%;
    padding-left: 4%;
}

.my-content
{
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

.my-content .Slides
{
  width: 100%;
  height: auto;
}


@media only screen and (min-width: 200px) {
  .background #home {
    background-image: url('/material/backgroundTiny.JPG');
  }
}

@media only screen and (min-width: 600px) {
  .background #home {
    background-image: url('/material/backgroundSHD.JPG');
  }
}

@media only screen and (min-width: 1400px) {
  .background #home {
    background-image: url('/material/backgroundHD.JPG');
  }
}

@media only screen and (min-width: 2500px) {
  .background #home {
    background-image: url('/material/background3k.JPG');
  }
}

@media only screen and (min-width: 3000px) {
  .background #home {
    background-image: url('/material/background4k.JPG');
  }
}
